import { getAsObject } from '@base-cms/object-path';
import getAdUnit from '@endeavorb2b/base-website-common/utils/gam/get-adunit';

$ const { site } = out.global;
$ const page = getAsObject(data, 'page');

<theme-pennwell-dynamic-page-layout page=page>
  <@head>
    <cms-ad-gam-head />
  </@head>
  <@above-container>
    <endeavor-gam-ad-unit-define-display name="LB1" modifiers=["top-of-page"] />
  </@above-container>
  $!{page.body}
</theme-pennwell-dynamic-page-layout>
