$ const { config } = out.global;

<theme-pennwell-search-layout>
  <@head>
    <cms-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-define-display name="BS" modifiers=["top-of-page"] />
  </@above-container>

  <h1>Search ${config.siteName()}</h1>
  <endeavor-search-in-page />
</theme-pennwell-search-layout>
