// Override variables here.

$black:     rgba(0, 0, 0, .84) !default;
$gray-600:  rgba(0, 0, 0, .54) !default;

@import "../../default/styles/theme";

// Override classes here.
body {
  -webkit-font-smoothing: antialiased;
}
