$primary: #106d7d !default;
$secondary: #495057; // equivalent to default gray-700
$tertiary: rgba(255, 255, 255, .75);
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-secondary-bg-color: #045866;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 65%);

$theme-site-navbar-logo-height: 55px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-navbar-tertiary-link-active-color:  $tertiary;
$theme-site-navbar-tertiary-link-color:         $tertiary;
$theme-site-navbar-tertiary-link-hover-color:   #fff;

$theme-site-header-breakpoints: (
  hide-primary: 870px,
  hide-secondary: 804px,
  small-logo: 894px,
  small-text-primary: 976px,
  small-text-secondary: 976px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
