@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i&Open+Sans:300,300i,400,700,700i");

$primary: #005ea0 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600


$theme-font-family-sans-serif: "Open Sans", sans-serif !default;
$theme-font-family-serif: "Open Sans", sans-serif !default;
$theme-font-family-page-title: "Source Sans Pro", "Georgia", "Times New Roman", "Times", serif !default;

$enable-shadows: false !default;
$enable-rounded: false !default;

$black: #333 !default;
$body-bg: #fff !default;

$theme-site-header-breakpoints: (
  hide-primary: 836px,
  hide-secondary: 916px,
  small-logo: 1012px,
  small-text-primary: 935px,
  small-text-secondary: 1120px
);

$theme-carousel-caption-padding: 1rem;
$theme-carousel-caption-text-shadow: rgba(0, 0, 0, .6) 0 1px 2px;
$theme-carousel-caption-background: rgba(0, 0, 0, .75);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/tables";

.carousel {
  .carousel-item {
    img {
      display: block;
      width: 100%;
    }
    .carousel-caption {
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      padding-bottom: $theme-carousel-caption-padding;
      text-shadow: $theme-carousel-caption-text-shadow;
      background: $theme-carousel-caption-background;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
  }
}

.required-field {
  &::after {
    margin-left: map-get($spacers, 1);
    color: $red;
    content: "*";
  }
}

.top-list {
  &__title {
    padding-right: $theme-page-body-padding;
    padding-left: $theme-page-body-padding;
    margin-bottom: $theme-page-body-margin-bottom;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding-right: $theme-page-body-padding-sm;
      padding-left: $theme-page-body-padding-sm;
      margin-bottom: $theme-page-body-margin-bottom-sm;
    }
    @include theme-heading(h4);
    margin-bottom: $theme-content-heading-h4-margin-bottom;
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      margin-bottom: $theme-content-heading-h4-margin-bottom-sm;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: map-get($spacers, block);
  }
  &__col {
    margin-bottom: map-get($spacers, block);
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }
  &__link {
    display: block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  &__overlay {
    &:empty {
      display: none;
    }
    position: absolute;
    top: 0;
    right: .9rem;
    bottom: 0;
    left: .9rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background: rgba(0, 0, 0, .5);
  }
  &__name {
    margin: 0 auto;
    color: $white;
  }
}
