@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i|Open+Sans:400,400i,700,700i|Roboto+Condensed:700,400|Oswald:500,700&display=swap");
@import "../../node_modules/@endeavorb2b/base-website-themes/default/styles/functions";

// Bizbash specific vars
$bizbash-letter-spacing:  .1px;

// Fonts
$font-source-sans-pro:    "Source Sans Pro", "Arial", sans-serif;
$font-open-sans:          "Open Sans", "Arial", sans-serif;
$font-oswald:             "Oswald", "Arial", sans-serif;
$font-roboto-condensed:   "Roboto Condensed", sans-serif;

$theme-font-family-sans-serif: $font-open-sans;
$theme-font-family-page-title: $font-source-sans-pro;

// Colors
$primary:   #0072bb;
$black:     #000;
$white:     #fff;
$gray-600:  #4d4d4d;

// General Settings
$body-bg:     #fff;
$body-color:  #333;
$list-group-border-width: 0;
$enable-shadows: false;
$enable-rounded: false;
$breadcrumb-divider-color: $black;

// Headings
$theme-heading-font-family: $font-source-sans-pro;

// Items
$theme-item-footer-font-family:         $font-oswald;
$theme-item-footer-font-size:           11px;
$theme-item-footer-font-weight:         500;
$theme-item-footer-text-transform:      uppercase;

$theme-item-title-font-family:          $theme-heading-font-family;
$theme-item-title-font-size-sm:         15.575px;
$theme-item-title-font-size:            16.675px;
$theme-item-title-font-weight:          300;
$theme-item-title-line-height-sm:       get-line-height($theme-item-title-font-size-sm, 21.345px) !default;
$theme-item-title-line-height:          get-line-height($theme-item-title-font-size, 23.345px) !default;
$theme-item-title-max-lines:            5;

$theme-item-title-large-font-size-sm:   28px;
$theme-item-title-large-font-size:      32px;
$theme-item-title-large-font-weight:    700;
$theme-item-title-large-line-height-sm: get-line-height($theme-item-title-large-font-size-sm, 34px) !default;
$theme-item-title-large-line-height:    get-line-height($theme-item-title-large-font-size, 38px) !default;
$theme-item-title-large-max-lines:      4;

$theme-item-description-font-family:    $font-open-sans;
$theme-item-description-font-size-sm:   13px;
$theme-item-description-font-size:      13px;
$theme-item-description-line-height-sm: get-line-height($theme-item-description-font-size-sm, 24px) !default;
$theme-item-description-line-height:    get-line-height($theme-item-description-font-size, 24px) !default;
$theme-item-description-margin:         10px;

// Pages
$theme-page-title-font-size:    32px;
$theme-page-title-font-weight:  700;

$theme-page-deck-color:         #565656;
$theme-page-deck-font-size:     18px;

$theme-page-body-font-family:   $font-open-sans;
$theme-page-body-font-size:     16px;
$theme-page-body-font-size-sm:  16px;

$theme-page-body-images-title-font-size:    17px;
$theme-page-body-images-title-font-weight:  700;

$theme-page-body-media-gallery-image-name-font-family:  $font-oswald;
$theme-page-body-media-gallery-image-name-font-weight:  700;

// Content Attribution
$theme-content-attribution-color:                   $gray-600;
$theme-content-attribution-font-family:             $font-oswald;
$theme-content-attribution-font-size:               12px;
$theme-content-attribution-font-weight:             700;
$theme-content-attribution-text-transform:          uppercase;
$theme-content-attribution-prefix-spacer-content:   "";
$theme-content-attribution-prefix-margin-after:     0;

// Content Published Date
$theme-content-published-date-color:            $theme-content-attribution-color;
$theme-content-published-date-font-family:      $theme-content-attribution-font-family;
$theme-content-published-date-font-size:        $theme-content-attribution-font-size;
$theme-content-published-date-font-weight:      $theme-content-attribution-font-weight;
$theme-content-published-date-text-transform:   $theme-content-attribution-text-transform;

// Contact Details
$theme-contact-details-font-size:         12px;
$theme-contact-details-font-weight:       700;
$theme-contact-details-label-font-weight: 700;

// Breadcrumbs
$theme-breadcrumbs-font-family:   $font-roboto-condensed;
$theme-breadcrumbs-font-size:     12px;
$theme-breadcrumbs-font-size-sm:  12px;
$theme-breadcrumbs-font-weight:   600;

// Cards
$theme-card-header-color:             $primary;
$theme-card-header-background-color:  #fff;
$theme-card-header-border:            none;
$theme-card-header-font-family:       $font-oswald;
$theme-card-header-font-size:         26.825px;
$theme-card-header-font-weight:       700;
$theme-card-header-letter-spacing:    $bizbash-letter-spacing;

// Media
$theme-media-caption-color:       #464646;
$theme-media-caption-font-weight: 400;
$theme-media-credit-color:        #777;
$theme-media-credit-font-size:    12px;
$theme-media-credit-font-style:   initial;
$theme-media-footer-font-size:    14px;
$theme-media-footer-padding-x:    0;
$theme-media-footer-padding-y:    .5rem;

// Load More
$theme-load-more-header-color:        $theme-card-header-color;
$theme-load-more-header-font-family:  $theme-card-header-font-family;
$theme-load-more-header-font-size:    $theme-card-header-font-size;
$theme-load-more-header-font-weight:  $theme-card-header-font-weight;

// Navbar / Header
$theme-site-header-breakpoints: (
  hide-primary: 896px,
  hide-secondary: 812px,
  small-logo: 860px,
  small-text-primary: 1020px,
  small-text-secondary: 860px
);

$theme-site-navbar-primary-bg-color:        $black;
$theme-site-navbar-primary-font-family:     $font-source-sans-pro;
$theme-site-navbar-primary-font-size:       18.5px;
$theme-site-navbar-primary-font-size-sm:    16px;
$theme-site-navbar-primary-font-weight:     700;
$theme-site-navbar-primary-line-height:     1;

$theme-site-navbar-primary-link-active-color:       $primary;
$theme-site-navbar-primary-link-active-decoration:  none;
$theme-site-navbar-primary-link-color:              #fff;
$theme-site-navbar-primary-link-hover-color:        #fff;

$theme-site-navbar-secondary-bg-color:      $black;
$theme-site-navbar-secondary-font-size:     12px;
$theme-site-navbar-secondary-font-size-sm:  12px;
$theme-site-navbar-secondary-font-family:   $font-roboto-condensed;
$theme-site-navbar-secondary-font-weight:   700;
$theme-site-navbar-secondary-line-height:   1;

$theme-site-navbar-secondary-link-color:    $primary;
$theme-site-navbar-secondary-hover-color:   $primary;

$theme-site-navbar-tertiary-link-active-color:  $white;
$theme-site-navbar-tertiary-link-color:         $white;
$theme-site-navbar-tertiary-link-hover-color:   $white;

$theme-site-navbar-menu-hover-background-color: lighten($primary, 60%);

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

// Carousel
$theme-carousel-caption-padding: 1rem;
$theme-carousel-caption-text-shadow: rgba(0, 0, 0, .6) 0 1px 2px;
$theme-carousel-caption-background: rgba(0, 0, 0, .75);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
@import "../../node_modules/bootstrap/scss/tables";
@import "components/carousel";

body {
  letter-spacing: $bizbash-letter-spacing;
}

.container-fluid-max {
  // @todo Determine if this should go to core
  @include media-breakpoint-down(xs) {
    padding-right: 0;
    padding-left: 0;
  }
  > main {
    // @todo Added temporarily to ensure "default-page" style is applied w/o using the class.
    // This should be fix in cms-page core
    > .page-wrapper {
      margin-bottom: map-get($spacers, block);
    }
  }
}

.ad-rail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

// @todo Re-evaluate page wrapper classes globally
.page-wrapper {
  padding-bottom: 0;
  &__header,
  &__body,
  &__contents {
    padding-right: 0;
    padding-left: 0;
  }
  // @todo Re-evaluate and move to core?
  .breadcrumb {
    padding-top: 0;
  }
}

// @todo Move to core?
.magazine-publication-card {
  &__header {
    padding-right: 0;
    padding-left: 0;
  }
}

.site-navbar-items {
  $self: &;
  &--primary {
    #{ $self } {
      // stylelint-disable-next-line
      &__item:first-child a::before {
        padding-right: 0;
        content: "";
      }
      &__link {
        &::before {
          float: left;
          padding-right: $theme-site-navbar-primary-padding-x - 1;
          color: $primary;
          content: "|";
        }
      }
    }
  }
}

.website-scheduled-content-hero {
  &__list {
    margin-top: -6px;
  }
}

.item {
  $self: &;
  &__title {
    &--card-deck {
      $title-font-size: 21px;
      $title-font-size-sm: 16px;
      $title-line-height: 1.3;
      $title-line-height-sm: 1.3;
      @include theme-apply-fonts(
        $font-size: $title-font-size,
        $font-size-sm: $title-font-size-sm,
        $font-weight: 600,
        $line-height: $title-line-height,
        $line-height-sm: $title-line-height-sm
      );
      a {
        @include theme-max-lines(
          $font-size: $title-font-size,
          $font-size-sm: $title-font-size-sm,
          $line-height: $title-line-height,
          $line-height-sm: $title-line-height-sm,
          $num: 5
        );
      }
    }
  }

  // @todo Move to core?
  &--latest-issue {
    padding-right: 0;
    padding-left: 0;
  }
  &--image-left {
    #{ $self } {
      &__image {
        margin-top: 6px;
      }
    }
  }

  &--image-right {
    #{ $self } {
      &__image {
        margin-top: 6px;
      }
    }
  }

  &--image-overlay {
    #{ $self } {
      &__wrapper {
        position: relative;
      }
      &__image {
        &--6by5 {
          @include theme-embed-responsive(6, 5);
        }
        &--3by2 {
          @include theme-embed-responsive(3, 2);
        }
        &--1by1 {
          @include theme-embed-responsive(1, 1);
        }
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          background: linear-gradient(to top, rgba(0, 0, 0, .65), transparent);
        }
      }
      &__contents {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
        color: $white;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .65);
        // stylelint-disable-next-line
        a {
          color: $white;
          // stylelint-disable-next-line
          &:hover {
            color: $white;
          }
        }
      }
      &__footer {
        color: $white;
      }
      &__header {
        color: $white;
      }
      &__website-section-name {
        margin-right: map-get($spacers, 2);
      }
    }
  }

  &--directory-search-hit {
    padding: 1rem 0;
    #{ $self } {
      &__image {
        margin-top: 0;
      }
      &__title {
        font-size: 18px;
        font-weight: 700;
      }
      &__description {
        margin-bottom: 0;
        font-family: $font-roboto-condensed;
        font-size: 14px;
        line-height: 1.4285;
        color: rgba(51, 51, 51, .5);
      }
    }
  }
}

// @todo move to core
.page-right-rail > * {
  margin-bottom: map-get($spacers, block);

  &:last-child {
    margin-bottom: 0;
  }
}

.item-list {
  $self: &;
  // @todo Add to core
  min-height: auto;
  &__header {
    padding: $theme-item-padding;
    padding-bottom: 0;
  }
  &__contents {
    flex-grow: 1;
    justify-content: space-between;
  }
  &--height-100 {
    // @todo Add to core
    min-height: 100%;
  }
  &--unjustified {
    #{ $self } {
      &__contents {
        flex-grow: 0;
        justify-content: normal;
      }
    }
  }
  &--directory-search-hits {
    #{ $self } {
      &__item {
        border-top: 1px solid $gray-200;
      }
    }
  }
}

.item-card-deck {
  $self: &;
  &--with-left-col {
    #{ $self } {
      &__col {
        @include make-col-ready();
        @include media-breakpoint-up(md) {
          @include make-col(12);
        }
        @include media-breakpoint-up(lg) {
          @include make-col(6);
        }
      }
    }
  }
}

.content-attribution {
  display: inline;
  div {
    display: inline;
  }
  &__content-authors {
    &::before {
      content: "By";
    }
  }
}

.content-attribution:not(:empty) + .content-published-date {
  display: inline;
  &::before {
    margin-right: $theme-content-attribution-prefix-margin;
    margin-left: $theme-content-attribution-prefix-margin;
    font-weight: $theme-content-attribution-prefix-spacer-font-weight;
    content: "\2014";
  }
}

.page-body-image,
[data-embed-type="image"] {
  border-bottom: 1px solid #ccc;
}

// @todo Move to core; fix embedded images in paragraphs
.page-body-image {
  @include media-breakpoint-down(xs) {
    margin-right: -#{$grid-gutter-width / 2};
    margin-left: -#{$grid-gutter-width / 2};
  }
  &__caption,
  &__credit {
    @include media-breakpoint-down(xs) {
      padding-right: $grid-gutter-width / 2;
      padding-left: $grid-gutter-width / 2;
    }
  }
}

.table {
  font-size: 12px;

  th {
    font-weight: 700;
  }
}

.directory-facets {
  $color: $gray-200;
  $self: &;

  &__title {
    @include theme-card-header();
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: map-get($spacers, block);

    #{ $self } {
      &__list {
        display: none;
        border: none;
        #{ $self } {
          // stylelint-disable-next-line
          &__link {
            padding-left: 1rem;
          }
        }
      }
    }
  }

  &__link {
    position: relative;
    display: inline;
    color: #333;
    &:hover {
      color: #333;
      text-decoration: underline;
    }
    &--active {
      font-weight: 700;
      color: $primary;
    }
  }

  &__item {
    position: relative;
    display: block;
    font-family: $font-source-sans-pro;
    font-size: 14px;
    line-height: 1.7142;

    &--open {
      > #{ $self } {
        &__list {
          display: flex;
        }
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin-right: .5rem;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-style: none;

    &:focus {
      outline: none;
    }

    & > .icon {
      @include theme-navbar-link-color(( active: $primary, hover: $primary, default: $black ));
      width: 1rem;
      height: 1rem;
    }
  }
}

// .website-section-page--59828,
// .website-section-page--59829 {
//   .item {
//     &__title {
//       font-weight: $theme-page-title-font-weight;
//     }
//   }
//   & .featured-directory-listing-item {
//     & .sponsoreship-title{
//       padding: .75rem;
//       margin: 0 .75rem;
//       font-weight: $theme-card-header-font-weight;
//       color: #fff;
//       background-color: $primary;
//     }
//     & .item--card {
//       padding-top: 0;
//       border-bottom: solid 5px #ccc;
//     }
//   }
//   & .search-results {
//     .item-list{
//       &__item {
//         border-bottom: 1px solid #ccc;
//       }
//     }
//   }
// }
