@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i|Open+Sans:300,300i,400,700,700i|Roboto+Condensed:700|Oswald:500,700&display=swap");

// Bizbash specific vars
$bizbash-letter-spacing: .1px;

// Fonts
// $theme-font-family-sans-serif: "Open Sans", sans-serif;
$theme-font-family-sans-serif: "Source Sans Pro", "Arial", sans-serif;
$theme-font-family-serif: "Open Sans", sans-serif;
$theme-font-family-page-title: "Source Sans Pro", "Arial", sans-serif;

// Colors
$primary:   #0072bb;
$black:     #000;
$gray-600:  #4d4d4d;

// General Settings
$body-bg: #fff;
$list-group-border-width: 0;
$enable-shadows: false;
$enable-rounded: false;

// Items
$theme-item-footer-font-family:         "Oswald", "Arial", sans-serif;
$theme-item-footer-font-size:           11px;
$theme-item-footer-font-weight:         500;
$theme-item-footer-text-transform:      uppercase;

$theme-item-title-font-size-sm:         15.575px;
$theme-item-title-font-size:            16.675px;
$theme-item-title-font-weight:          300;
$theme-item-title-line-height-sm:       21.345px;
$theme-item-title-line-height:          23.345px;
$theme-item-title-max-lines:            4;

$theme-item-title-large-font-size-sm:   28px;
$theme-item-title-large-font-size:      32px;
$theme-item-title-large-font-weight:    700;
$theme-item-title-large-line-height-sm: 34px;
$theme-item-title-large-line-height:    38px;
$theme-item-title-large-max-lines:      3;

// Cards
$theme-card-header-background-color:  #fff;
$theme-card-header-border:            none;
$theme-card-header-font-family:       "Oswald", "Arial", sans-serif;
$theme-card-header-font-size:         26.825px;
$theme-card-header-font-weight:       700;
$theme-card-header-letter-spacing:    $bizbash-letter-spacing;
$theme-card-header-link-color:        $primary;

// Navbar / Header
$theme-site-header-breakpoints: (
  hide-primary: 896px,
  hide-secondary: 812px,
  small-logo: 860px,
  small-text-primary: 1020px,
  small-text-secondary: 860px
);

$theme-site-navbar-primary-bg-color:      $black;
$theme-site-navbar-primary-font-size:     18.5px;
$theme-site-navbar-primary-font-size-sm:  16px;
$theme-site-navbar-primary-font-weight:   700;
$theme-site-navbar-primary-line-height:   1;

$theme-site-navbar-primary-link-active-color:       $primary;
$theme-site-navbar-primary-link-active-decoration:  none;
$theme-site-navbar-primary-link-color:              #fff;
$theme-site-navbar-primary-link-hover-color:        #fff;

$theme-site-navbar-secondary-bg-color:  $black;
$theme-site-navbar-secondary-font-size:     12px;
$theme-site-navbar-secondary-font-size-sm:  12px;
$theme-site-navbar-secondary-font-family:   "Roboto Condensed", "Arial", sans-serif;
$theme-site-navbar-secondary-font-weight:   700;
$theme-site-navbar-secondary-line-height:   1;

$theme-site-navbar-secondary-link-color:    $primary;
$theme-site-navbar-secondary-hover-color:   $primary;

$theme-site-navbar-menu-hover-background-color: lighten($primary, 60%);

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 30px;

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";

body {
  letter-spacing: $bizbash-letter-spacing;
}

.site-navbar-items {
  $self: &;

  &--primary {
    #{ $self } {
      // stylelint-disable-next-line
      &__item:first-child a::before {
        padding-right: 0;
        content: "";
      }
      &__link {
        &::before {
          float: left;
          padding-right: $theme-site-navbar-primary-padding-x - 1;
          color: $primary;
          content: "|";
        }
      }
    }
  }
}

.item {
  $self: &;
  &--image-left {
    #{ $self } {
      &__image {
        margin-top: 6px;
      }
    }
  }

  &--image-right {
    #{ $self } {
      &__image {
        margin-top: 6px;
      }
    }
  }
}

.item-list {
  &__header {
    padding-bottom: 0;
  }
}
