import contentListFragment from '../../server/api/fragments/content-list';

$ const query = {
  limit: 14,
  requiresImage: true,
  queryFragment: contentListFragment,
  ...input.query
};

<wrapper|{ nodes }| ...input query=query>
  <bizbash-load-more-content-layout ...input.layout nodes=nodes />
</wrapper>
