import { get, getAsObject } from '@base-cms/object-path';

$ const { config } = out.global;
$ const description = `${config.siteName()} has products that deliver powerful content to you in a variety of forms including print, online, email and social media. To subscribe to a product or manage your current subscription, click below and put the power of ${config.siteName()} at your fingertips.`;
$ const newsletterDescription = 'Stay up-to-date on industry news and events, new product launches and more. Select from our list of targeted newsletter offerings to stay informed on the topics that matter to you and your business.';

<theme-pennwell-subscribe-layout>
  <@head>
    <endeavor-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-out-of-page name="wa" />
    <endeavor-gam-ad-unit-out-of-page name="reskin" />
    <endeavor-gam-ad-unit-define-display name="lb1" modifiers=["top-of-page"] />
  </@above-container>

  <div class="page-wrapper">
    <div class="row">
      <div class="col">
        <div class="page-wrapper__header">
          <endeavor-breadcrumbs-subscribe />
          <h1 class="page-wrapper__title">Information at Your Fingertips</h1>
          <p class="page-wrapper__description">${description}</p>
        </div>
        <div class="page-wrapper__contents">
          <endeavor-social-links block="site-subscribe" />
          <hr>
          <h5>Newsletters</h5>
          <p>${newsletterDescription}</p>
          <p><strong><a href="/subscribe/email">Subscribe / Manage Preferences</a></strong></p>
          <hr>
        </div>
        <div class="page-wrapper__body">
        </div>
      </div>
    </div>
  </div>
</theme-pennwell-subscribe-layout>
