.ad-container {
  text-align: center;
  &--top-of-page {
    margin-bottom: map-get($spacers, block);
  }
  &--content-page-right {
    margin-bottom: map-get($spacers, block);
  }
  &--inline {
    margin-bottom: map-get($spacers, block);
  }
  &--in-card {
    display: flex;
    justify-content: center;
    min-height: 100%;
    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  iframe {
    box-shadow: $theme-ads-box-shadow;
  }
}

.ad-rail {
  padding-top: map-get($spacers, block);
  padding-bottom: map-get($spacers, block);

  .ad-container {
    margin-bottom: map-get($spacers, block);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
