.ad-container {
  text-align: center;
  &--top-of-page {
    margin-bottom: map-get($spacers, block);
  }
  &--content-page-right {
    margin-bottom: map-get($spacers, block);
  }
  &--inline {
    margin-bottom: map-get($spacers, block);
  }
  &--in-card {
    display: flex;
    justify-content: center;
    min-height: 100%;
    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  iframe {
    box-shadow: $theme-ads-box-shadow;
  }
}

.ad-rail {
  padding-top: map-get($spacers, block);
  padding-bottom: map-get($spacers, block);

  .ad-container {
    margin-bottom: map-get($spacers, block);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gsc-adBlock { /* stylelint-disable-line */
  display: none;
}

.reveal-ad-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.reveal-ad {
  position: relative;
  width: 300px;
  margin: 0 auto map-get($spacers, block);
  &--light-shadow {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, .2), 0 6px 20px 0 rgba(255, 255, 255, .19);
  }
  &--dark-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  }
}

.sticky-leaderboard {
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .8);
    border-radius: $border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: $theme-box-shadow-lg;
  }
  &__container {
    position: fixed;
    right: $grid-gutter-width / 4;
    bottom: 0;
    left: $grid-gutter-width / 4;
    z-index: 100000;
    padding: map-get($spacers, 2);
    text-align: center;
    visibility: hidden;
    background-color: transparent;
    border-radius: $border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: $theme-box-shadow-lg;
    opacity: 0;
    transition: visibility linear 250ms, opacity ease 250ms;

    @include media-breakpoint-up("xl", $grid-breakpoints) {
      $width: map-get($grid-breakpoints, "xl");
      right: inherit;
      left: calc(50% - #{$width / 2});
      width: $width;
    }
    &--visible {
      visibility: visible;
      opacity: 1;
    }
    &--visible ~ .site-footer > .site-footer {
      &__container {
        &:last-child {
          padding-bottom: 130px;
        }
      }
    }
  }
  &__close {
    position: absolute;
    top: .15rem;
    right: .15rem;
    z-index: 100001;
    padding: 0;
    line-height: 0;
    & > svg {
      width: 1.25rem;
      height: 1.25rem;
      fill: $white;
    }
  }
}
