.ad-container {
  text-align: center;
  &--top-of-page {
    margin-top: -#{map-get($spacers, 4)};
    margin-bottom: map-get($spacers, 5);
  }
  &--content-page-top {
    margin-bottom: map-get($spacers, 4);
  }
  &--content-page-right {
    margin-bottom: map-get($spacers, 4);
  }
  &--home-page-inline {
    margin-bottom: map-get($spacers, 5);
  }
  &--in-card {
    display: flex;
    justify-content: center;
    min-height: 100%;
    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
