.content-card-a {
  min-height: 100%;
  border: 0;
  box-shadow: $site-box-shadow-sm;
  &__content-short-name {
    font-family: $site-font-family-serif;
  }
  &__content-teaser {
    margin-bottom: 0;
  }
  &__website-section-name {
    font-weight: 500;
    a {
      color: $dark;
    }
  }
  .card-body {
    padding-bottom: 0;
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-sm;
    text-transform: uppercase;
    background-color: $white;
    border: 0;
  }
}
