.content-query-feed-list {
  .card {
    min-height: 100%;
    border: 0;
    box-shadow: $theme-box-shadow-sm;
  }
  // @todo make this a mixin or another class altogether
  .card-header {
    font-family: $theme-content-sans-serif-font;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $primary;
    border-bottom: 2px solid $black;
  }
  .list-group-item {
    display: flex;
  }
}
