.content-page-header {
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
  &__content-name {
    font-family: $theme-font-family-serif;
  }
  &__content-teaser {
    font-style: italic;
  }
  &__content-published {
    font-size: $font-size-sm;
    text-transform: uppercase;
  }
}
