.content-horizontal-list {
  @include theme-card();

  &__header {
    @include theme-card-header();
  }

  .card-body {
    @include theme-item();
  }

  &__col {
    &--card {
      @include media-breakpoint-up(lg) {
        padding-right: 0;
      }
      .content-element-group {
        @include media-breakpoint-down(lg) {
          border-bottom: $list-group-border-width solid $list-group-border-color;
        }
      }
    }
    &--list {
      @include media-breakpoint-up(lg) {
        padding-left: 0;
      }
      .list-group-item {
        &:last-child {
          border-bottom-right-radius: $theme-card-border-radius;
          @include media-breakpoint-down(lg) {
            border-bottom-left-radius: $theme-card-border-radius;
          }
        }
      }
    }
  }
}
