.content-element-group {
  $self: &;
  display: flex;
  flex-direction: column;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
  &__content-short-name {
    min-height: 48px;
    max-height: 48px;
    @include theme-heading(h6);
    @include media-breakpoint-down(sm) {
      min-height: initial;
    }
    a {
      display: block;
      max-height: 48px;
      overflow: hidden;
      color: $black;
      text-overflow: ellipsis;
    }
  }
  &__website-section-name {
    @include theme-list-text();
    margin-bottom: 6px;
    color: $gray;
    letter-spacing: normal;
    a {
      color: $gray;
    }
  }
  &__content-teaser {
    max-height: 50px;
    overflow: hidden;
    font-family: $theme-content-serif-font;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
  }
  &__content-published {
    @include theme-list-text();
    margin-top: auto;
    color: $gray;

  }
  &__content-name {
    &--company-name {
      @include theme-list-text();
    }
    &--contact-name {
      @include theme-list-text();
    }
  }
  &__content-authors {
    .content-element-group {
      &__content-name {
        display: block;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &--hero-card {
    #{ $self } {
      &__content-short-name {
        @include theme-heading(h4);
        min-height: initial;
        max-height: 64px;
        /* stylelint-disable-next-line selector-max-compound-selectors */
        a {
          display: block;
          max-height: 64px;
        }
      }
    }
  }
  &--hero-list,
  &--related-list {
    #{ $self } {
      &__content-short-name {
        min-height: initial;
      }
    }
  }
}
