.content-element-group {
  $self: &;
  display: flex;
  flex-direction: column;
  padding-top: map-get($spacers, 3);
  padding-bottom: map-get($spacers, 3);
  &__content-short-name {
    min-height: 48px;
    max-height: 48px;
    font-family: $theme-content-sans-serif-font;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    @include media-breakpoint-down(sm) {
      min-height: initial;
    }
    a {
      display: block;
      max-height: 48px;
      overflow: hidden;
      color: $black;
      text-overflow: ellipsis;
    }
  }
  &__website-section-name {
    margin-bottom: 6px;
    font-family: $theme-content-sans-serif-font;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54);
    letter-spacing: normal;
    a {
      color: rgba(0, 0, 0, .54);
    }
  }
  &__content-teaser {
    max-height: 50px;
    overflow: hidden;
    font-family: $theme-content-serif-font;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
  }
  // @todo the font sizes, line heights and colors should be consolidated.
  &__content-published {
    margin-top: auto;
    font-family: $theme-content-sans-serif-font;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54);
  }
  &__content-authors {
    .content-element-group {
      &__content-name {
        display: block;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    font-family: $theme-content-sans-serif-font;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0, 0, 0, .54);
  }

  &--hero-card {
    #{ $self } {
      &__content-short-name {
        min-height: initial;
        max-height: 64px;
        font-size: 26px;
        line-height: 32px;

        /* stylelint-disable-next-line selector-max-compound-selectors */
        a {
          display: block;
          max-height: 64px;
        }
      }
    }
  }
  &--hero-list,
  &--related-list {
    #{ $self } {
      &__content-short-name {
        min-height: initial;
      }
    }
  }
}
