.content-query-related {
  margin-bottom: map-get($spacers, 3);
  border-color: $light;
  box-shadow: $theme-box-shadow-sm;
  .card-header {
    font-family: $theme-content-sans-serif-font;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $primary;
    border-bottom: 2px solid $black;
  }
  .list-group-item {
    border-color: $light;
  }
}
