.content-list-item-b {
  display: flex;
  &__content-short-name {
    font-family: $site-font-family-serif;
  }
  &__website-section-name {
    font-weight: 500;
    text-transform: uppercase;
    a {
      color: $dark;
    }
  }
  &__content-published {
    text-transform: uppercase;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    .element-row {
      margin-top: auto;
      font-size: $font-size-sm;
    }
  }
}
