.content-breadcrumbs {
  margin-bottom: map-get($spacers, 3);
  font-size: $font-size-sm;
  font-weight: 500;
  text-transform: uppercase;
  &__website-section-hierarchy {
    background-color: $light;
  }
  a {
    color: $dark;
  }
}
