.content-query-related {
  margin-bottom: map-get($spacers, 3);
  border-color: $light;
  .card-header {
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $light;
    border-bottom: 0;
  }
  .list-group-item {
    border-color: $light;
  }
}
