.content-query-vertical-section-list {
  margin-bottom: map-get($spacers, 3);
  border: 0;
  box-shadow: $theme-box-shadow-sm;
  .card-header {
    // margin-bottom: map-get($spacers, 4);
    // @include theme-heading(h6);
    // padding-bottom: 0;
    // font-family: $theme-content-sans-serif-font;
    // font-weight: 600;

    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $primary;
    // background-color: $white;
    border-bottom: 2px solid $black;
    // border-bottom: none;
    // opacity: .88;
  }
  .card-body {
    flex: none;
  }
}

.test-big-card {
  border: 0;
  box-shadow: $theme-box-shadow-sm;

  .card-body {
    padding: map-get($spacers, 3);
  }

  .content-query-section-list {
    margin-bottom: 0;
    border: 1px solid $light;
    box-shadow: none;
  }
}
