.content-breadcrumbs {
  font-family: $theme-content-sans-serif-font;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: normal;
  &__website-section-hierarchy {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
    background-color: $white;
  }
  a {
    color: $primary;
  }
}
