.element-group {
  $self: &;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $theme-element-group-padding-y $theme-element-group-padding-x;

  &__header {
    @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $theme-element-group-margin;
    color: $gray;
    letter-spacing: normal;
    a {
      color: $gray;
    }
    &:empty {
      display: none;
    }
  }

  &__header-left {
    &:empty {
      display: none;
    }
  }

  &__header-right {
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  &__title {
    margin-bottom: $theme-element-group-margin;
    @include theme-heading(h6);
    &:empty {
      display: none;
    }

    a {
      @include theme-max-lines($line-height: 24px, $line-height-sm: 20px);
      color: $black;
    }
  }

  &__description {
    @include theme-description-text();
    margin-bottom: $theme-element-group-margin;
    &:empty {
      display: none;
    }

    a {
      @include theme-max-lines($line-height: 25px, $line-height-sm: 23px);
      color: $black;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  &__footer {
    @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    color: $gray;
    &:empty {
      display: none;
    }
  }

  &__footer-left {
    margin-top: auto;
    &:empty {
      display: none;
    }
  }

  &__footer-right {
    margin-top: auto;
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  // Content styles.
  &__content-name {
    &--contact-name {
      display: block;
    }
  }

  &__content-starts + &__content-ends {
    &::before {
      margin-right: map-get($spacers, 1);
      margin-left: map-get($spacers, 1);
      content: "\2014";
    }
  }
}
