// Apply the 16x9 bootstrap responsive embed classes to embedded videos
[data-embed-type] {
  display: inline-block;
  width: 100%;
  font-family: $theme-content-sans-serif-font;
  font-size: $font-size-base;
  line-height: $line-height-sm;
  color: #888;
  background: transparent;
}

p [data-embed-type] {
  margin: .5rem 0 0;
}

[data-embed-type][data-embed-align="left"] {
  float: left;
  width: 50%;
  width: calc(50% - 1rem);
  margin-right: 1rem;
  @include media-breakpoint-down("sm") {
    width: 100%;
    margin-right: 0;
  }
}

[data-embed-type][data-embed-align="right"] {
  float: right;
  width: 50%;
  width: calc(50% - 1rem);
  margin-left: 1rem;
  @include media-breakpoint-down("sm") {
    width: 100%;
    margin-left: 0;
  }
}

[data-embed-type] img {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

[data-embed-type] .caption,
[data-embed-type] .credit {
  display: inline-block;
  padding: map-get($spacers, 1)  $border-radius;
  margin: 0;
  text-align: left;
  letter-spacing: normal;
}

[data-embed-type] .caption {
  font-weight: 600;
  color: $gray;
}

[data-embed-type] .credit {
  font-style: italic;
  color: $black;
  &::before {
    margin-right: map-get($spacers, 1);
    content: "Credit \2014";
  }
}

[data-embed-invalid] {
  display: none;
}

// Bootstrap specific styling
[data-oembed-type="video"] {
  @extend .embed-responsive;
  @extend .embed-responsive-16by9;
}
