.icon {
  width: 1rem;
  height: 1rem;

  &--site-navbar {
    @if $theme-site-nav-secondary-type == dark  {
      fill: $navbar-dark-color;
    } @else {
      fill: $navbar-light-color;
    }

    &:hover {
      @if $theme-site-nav-secondary-type == dark  {
        fill: $navbar-dark-hover-color;
      } @else {
        fill: $navbar-light-hover-color;
      }
    }

    &:active {
      @if $theme-site-nav-secondary-type == dark  {
        fill: $navbar-dark-active-color;
      } @else {
        fill: $navbar-light-active-color;
      }
    }

    width: 1.5rem;
    height: 1.5rem;

    &.icon--menu,
    &.icon--cross {
      width: 2rem;
      height: 2rem;
      @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
