.item-list {
  $self: &;
  display: flex;
  flex-direction: column;

  padding-left: 0;
  margin-bottom: 0;

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;

    margin-bottom: -$list-group-border-width;
    color: $list-group-color;
    background-color: $list-group-bg;
    border: $list-group-border-width solid $list-group-border-color;

    &:first-child {
      @include border-top-radius($list-group-border-radius);
    }

    &:last-child {
      margin-bottom: 0;
      @include border-bottom-radius($list-group-border-radius);
    }

    &--header {
      @include theme-card-header();
      padding: $theme-item-padding ($theme-item-padding + $theme-item-contents-padding);
      margin-bottom: 0;

      &:empty {
        display: none;
      }
    }
  }

  &--card {
    @include theme-card();
    min-height: 100%;
    #{ $self } {
      &__item {
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  &--flush {
    #{ $self } {
      &__item {
        border-right: 0;
        border-left: 0;

        &:first-child {
          border-top: 0;
        }

        &:only-child {
          border-bottom: 0;
        }

        &:last-child {
          margin-bottom: -$list-group-border-width;
        }
      }
    }
  }
}
