.item {
  $self: &;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $theme-item-padding;

  &__contents {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    padding-right: $theme-item-contents-padding;
    padding-left: $theme-item-contents-padding;
  }

  &__header {
    @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $theme-element-group-margin;
    color: $gray;
    letter-spacing: normal;
    a {
      color: $gray;
    }
    &:empty {
      display: none;
    }
  }

  &__header-left {
    &:empty {
      display: none;
    }
  }

  &__header-right {
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  &__title {
    margin-bottom: $theme-element-group-margin;
    @include theme-heading(h6);
    &:empty {
      display: none;
    }

    a {
      @include theme-max-lines($line-height: 24px, $line-height-sm: 20px);
      color: $black;
    }

    &--large {
      @include theme-heading(h5);

      a {
        @include theme-max-lines($line-height: 30px, $line-height-sm: 26px);
        color: $black;
      }
    }
  }

  &__description {
    @include theme-description-text();
    margin-bottom: $theme-element-group-margin;
    &:empty {
      display: none;
    }

    a {
      @include theme-max-lines($line-height: 25px, $line-height-sm: 23px);
      color: $black;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  &__footer {
    @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    color: $gray;
    &:empty {
      display: none;
    }
  }

  &__footer-left {
    margin-top: auto;
    &:empty {
      display: none;
    }
  }

  &__footer-right {
    margin-top: auto;
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  &__asset-image {
    border-radius: $border-radius;
  }

  &__image-placeholder {
    min-width: 100%;
    min-height: 100%;
    background-blend-mode: color-burn;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: $border-radius $border-radius;
    opacity: .2;
  }

  &__image {
    $image: &;

    a {
      position: relative;
      display: block;
      border-radius: $border-radius;
      box-shadow: $theme-box-shadow-lg;
    }

    &--placeholder {
      height: 100%;
      a {
        width: 100%;
        height: 100%;
        background-color: lighten($theme-placeholder-image-color, 5%);
      }
    }

    &--fluid {
      #{ $self } {
        &__asset-image {
          @include theme-embed-responsive-item();
        }
        &__image-placeholder {
          @include theme-embed-responsive-item();
        }
      }
    }
    &--21by9 {
      a {
        @include theme-embed-responsive(21, 9);
      }
    }
    &--16by9 {
      a {
        @include theme-embed-responsive(16, 9);
      }
    }
    &--4by3 {
      a {
        @include theme-embed-responsive(4, 3);
      }
    }
    &--3by4 {
      a {
        @include theme-embed-responsive(3, 4);
      }
    }
    &--1by1 {
      a {
        @include theme-embed-responsive(1, 1);
      }
    }

    //
  }

  &--card {
    @include theme-card();
    min-height: 100%;
  }

  &--flush {
    padding-right: 0;
    padding-left: 0;
    #{ $self } {
      &__contents {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &--image-left {
    flex-direction: row;
    #{ $self } {
      &__image {
        margin-top: auto;
        margin-right: $theme-item-padding;
        margin-bottom: auto;
      }
      &__contents {
        padding: 0;
        padding-right: $theme-item-contents-padding;
      }
    }
  }

  &--image-right {
    flex-direction: row-reverse;
    #{ $self } {
      &__image {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: $theme-item-padding;
      }
      &__contents {
        padding: 0;
        padding-left: $theme-item-contents-padding;
      }
    }
  }

  &--image-top {
    #{ $self } {
      &__image {
        margin-bottom: $theme-item-padding;
      }
    }
  }

  // Content styles
  &__content-name {
    &--contact-name {
      display: block;
    }
  }

  &__content-link {
    &--video {
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        content: "";
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAZ8SURBVHhe7Z1Z6O1TFMf/hswhY+Yx3UiR8UF4IUIoD3QfyAPu7UYpDzLHgweRB8mUPJgyS3mQTGVKxohkypTpIkNmvp/cX3Fb53/273f2Xnvv39nf+jzc4ezfsM7Za+291157oampqampacTaXhwpVojrxGPiDfG+WCl+E3+LP1f9+SPxlnha3CTOE8eJPcQaoqmnthFLxS2Cl87LjsUX4m5xpsBATRO0meAX8KywXmQq3hYXiR1Fk0RXdL/4RVgvzIu/xFOCX+baYq5EP368eEFYLyc3dJNniHXF6IVzfV1YL6I0PhHLxZpidNpJPCSsBy+dl8QBYhSiPz5f/CSsh60FQurrxaaiWhG5MBawHrBW8C/7i+p0jPhaWA9VO0SE54gqBpnc5OWCMNJ6mDFxr1hfFKu1xM3Cuvmx8owo0q/wTak1ipqV1wTTPcVoA/G4sG52XvhAMAmaXXRT8/rLWB0GvJuLbMKBz5vPmMbzgh4ji64Q1k3NO/QY9ByuYpwxD6HtUC4UbtpBjHXQF4s/xGEiuZibIva2bqLxfz4VW4mkYqLQunjD5h6RTEyh1z5rm4OjRRK18cYw3hXriag6VlgXi83vxt+NgUtFNDEA9Fp2vUOcIsitsv69Vn4Q0UbxJCRYF0nB7QIxWXmx+FlY/69GLhNR9KKwLpCCziCdWHXkVzOGQei3YhMxk44QVuOpWN0gnQ4WzwnrMzXBsGEm3SeshlMxySAIX3aq+ExYn62BD8XgpV/SO38VVsOpWMwgnTYSTGzW6l8GT6mQJGY1mJIQg3Tq/IvVTsmQRD5IOfrsPgbpdLh4WVjtlcj3oveaybbCaiw1QwyCSPc8XdTiX0ip7SWywK2GUjPUIJ3wL1cKb9/Xl6tFL+VammVrQgztLmjLukYJvCp6iSwKq6HUPCJiqlT/Qq7wFiJIpLNYjXgQ2yAI/7JMfCWsa+biBBEkdjVZDXiQwiCdyDC8SpTiX4JH7ez1sxrwIKVBOuFfHhTW9T25TQSJrcdWAx54GKTTUeJNYd2HB2xwDRL7wK0GPPA0CCJpgxmJHP6F2d8g5dwD6G2QTviXa4X3imXQxtKcq3W5DNJpT/GosO4tBUGh7zfC+rAHuQ3Sycu/7CKmKmdYWIpBEP7lXEFfb91rDPYWi4pBlPVBL0oySKedxefCut9ZOURMFXmp1oc9KMkgrOylzoDZV0zVd8L6sAelGIQXRe0T6x5jwiB1quY5yiLqoUAAk3/W/cVmazFVOUevuQyCA2fKKKUDtwhaOcy53YDKD95iij7Hl5DE9SBRFs9qwAO+DF4iSSLnItYrIkjUKLQa8MDDIKSpUm0idxrRnSJIXpnuFqkNcrIoJZE7ONeX4pBWAx6kMghh7BPCumYu+HIEiQHRl8JqJDWxDUIYy/pOiftOmAEIFqVUrUZSE8sg3TpHzonSxXhP9BJ1ba2GUhPDIISxpdd1vFH0Ui4/MotBCGPZ9Wq1WxrB/uO/ekdYjaVkiEEIYy8RtWTDs7wxaHvbBcJqMCV9DXKSqG0/4gNikNiX7r2VLNQgLOyUFsaGcqIYrCeF1WgqphmETUSlhrEhEPWtIwbLOwt+kkFypuvE5Boxk3gRxMxW4ymwDFLbhpxJ4MyjlAH0HJOwa6sTYSwTcNb/q5HeY49Jos+jML11kdgwoCOMpQDYmIoG4PN2E9F0lrAuFBt8RG1hbAisMUUVNQQ5JcC6WGNxqL63pYgujmzwWvwfExwOk0xkZFgXbdhQNjbpgTAUT4l9ctpYIYmB5O3k4vyM0rcdl8Bpwk1nC+smGv8SvF0tlljm9a4UVAuMpTYU7iLrziP/tSY+FllPScDJl75c6gWJIS5OfJr4Rsx75PWjOEgUI+rB50zSzgkj8aKM0YnFI+/DhXNDyb4loljh6B8W1s2PDc50304UL6YKOBI759a41NwqqM1VlVjp81pH8YLpENcReGwx7cwBjNbD1QYThXuJUYiN+JwSYD1o6ZApwhR60lnbHGJpllMCKExvPXhpsOxKqcPgym+1ijRKdjCtFNaLyA0z2TeIqGvgNWhjQVW1UtbQ6ZrImyrixM6com8+VBBKehct4NdAdTnqHwaVSpo34WfY48g3lVKqKXKLSfwjR4qyGcwuNPUQDpXkZLo2fkGEnqG+hzEDGY93CTZYYgASyJsSiO6F4GBXsY84UOy36s+cHZjtPNqmpqampqY8Wlj4B3teNzXdJUMzAAAAAElFTkSuQmCC");
        filter: brightness(0) invert(1) drop-shadow(2px 2px 2px rgba(0, 0, 0, .5));
        background-size: contain;
        opacity: .6;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__content-starts + &__content-ends,
  &__website-section-name + &__content-type-titled {
    &::before {
      margin-right: map-get($spacers, 1);
      margin-left: map-get($spacers, 1);
      content: "\2014";
    }
  }

  // Magazine styles.
  &__magazine-publication-link,
  &__magazine-issue-link {
    margin-right: map-get($spacers, 2);
    &:last-child {
      margin-right: 0;
    }
  }

}
