.load-more-button {
  padding-bottom: map-get($spacers, 3);
  text-align: center;
  .btn {
    margin-bottom: map-get($spacers, block);
    color: $white;
    background-color: $primary;
    border-color: $primary;
  }
}

.load-more-header {
  @include theme-heading(h4);
  margin-bottom: map-get($spacers, 3);
  font-family: $theme-content-sans-serif-font;
  text-align: center;
  text-transform: uppercase;
}
