.site-navbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5000000;
  font-family: $theme-content-sans-serif-font;
  box-shadow: $theme-box-shadow-lg;
  opacity: .98;

  &__primary {
    @include theme-navbar-display();
    background-color: $theme-site-nav-primary-bg-color;
  }

  &__secondary {
    @include theme-navbar-display();
    height: 80px;
    background-color: $theme-site-nav-secondary-bg-color;
    @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
      height: 50px;
    }
  }

  &__brand {
    display: inline-block;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    line-height: inherit;
    white-space: nowrap;
  }

  &__logo {
    height: 60px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .35));
    @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
      height: 30px;
    }
  }

  .icon {
    transition: fill ease 300ms;
  }
}

.site-navbar-container {
  @include make-container();
  @include media-breakpoint-up("xl", $grid-breakpoints) {
    max-width: map-get($grid-breakpoints, "xl");
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 0;
  padding-left: 0;
}

.site-navbar-toggler {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.25rem;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-style: none;

  &:focus {
    outline: none;
  }
}

.site-navbar-items {
  $self: &;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  list-style: none;

  &__item {
    &:first-child a {
      padding-left: 0;
    }

    &:last-child a {
      padding-right: 0;
    }
  }

  &__link {
    display: block;
    padding: 8px;
    text-decoration: none;
    transition: color ease 300ms, text-decoration ease 300ms;

    &:hover {
      text-decoration: underline;
    }
  }

  &--primary {
    justify-content: space-around;
    width: 100%;
    font-size: 16px;

    @media (max-width: map-get($theme-site-nav-primary-breakpoints, small-text)) {
      font-size: 14px;
    }
    @media (max-width: map-get($theme-site-nav-primary-breakpoints, hide)) {
      height: 4px;
    }

    #{ $self } {
      &__item {
        @media (max-width: map-get($theme-site-nav-primary-breakpoints, hide)) {
          display: none;
        }
        text-align: center;
      }

      &__link {
        @include theme-navbar-link-color($theme-site-nav-primary-type);

        &:hover {
          @include theme-navbar-link-hover-color($theme-site-nav-primary-type);
        }
      }
    }
  }

  &--secondary {
    margin-top: auto;
    font-size: 14px;

    #{ $self } {
      &__item {
        @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
          display: none;
        }
      }
      &__link {
        padding-bottom: 0;
        @include theme-navbar-link-color($theme-site-nav-secondary-type);

        &:hover {
          @include theme-navbar-link-hover-color($theme-site-nav-secondary-type);
        }
      }
    }
  }

  &--tertiary {
    margin-top: auto;
    margin-left: auto;

    @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
      margin-top: initial;
    }

    #{ $self } {
      &__link {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
      }
    }
  }
}

.site-navbar-menu {
  $self: &;
  $wrapper-width: 264px;
  $wrapper-max-width: 75vw;

  position: fixed;
  top: 120px;
  bottom: 0;
  z-index: 100;

  width: $wrapper-width;
  max-width: $wrapper-max-width;

  overflow-x: auto;
  overflow-y: scroll;

  will-change: visibility;
  visibility: hidden;

  background-color: $white;

  opacity: .98;
  transition: transform .25s cubic-bezier(.4, 0, .2, 1), visibility 0s linear .25s;
  transform: translateX(-#{$wrapper-width});

  @media (max-width: map-get($theme-site-nav-primary-breakpoints, small-text)) {
    top: 117px;
  }
  @media (max-width: map-get($theme-site-nav-primary-breakpoints, hide)) {
    top: 84px;
  }
  @media (max-width: map-get($theme-site-nav-secondary-breakpoints, hide)) {
    top: 54px;
  }

  &--open {
    visibility: visible;
    box-shadow: $theme-site-nav-menu-box-shadow;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1), visibility 0s linear 0s;
    transform: translateX(0);
  }

  &__contents {
    width: 100%;
    height: 100%;
  }

  &__card {
    border: none;
    border-radius: 0;
  }

  &__card-header {
    padding: .5rem 1rem;
    font-weight: 600;
    color: $black;
    letter-spacing: normal;
    background-color: $gray-100;
    border-radius: 0;
    &:first-child {
      border-radius: 0;
    }
  }

  &__list-group-item {
    @include theme-item();
    padding: .5rem 1rem;
    font-size: 14px;

    &:hover {
      background-color: $theme-site-nav-menu-hover-color;
    }

    &:last-child {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &__card-footer {
    background-color: $gray-100;
    &:last-child {
      border-radius: 0;
    }
  }
}
