.navbar {
  &--site-a {
    @extend .fixed-top;
    @extend .navbar-dark;
    @extend .navbar-expand-lg;
    font-family: $theme-content-sans-serif-font;
    background-color: $primary;
    box-shadow: $theme-box-shadow-lg;
    opacity: .98;
    .navbar-brand {
      padding-bottom: 0;
      img {
        height: 35px;
      }
    }
    .nav-item {
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    .navbar-nav {
      &--primary {
        margin-top: map-get($spacers, 2);
        @include media-breakpoint-down(md) {
          display: none;
        }
        @include media-breakpoint-up(lg) {
          display: flex;
        }
        .nav-item {
          font-size: 1rem;
          @include media-breakpoint-down(md) {
            text-align: left;
          }
          @include media-breakpoint-up(lg) {
            text-align: center;
          }
          a {
            padding-top: map-get($spacers, 1);
            padding-bottom: map-get($spacers, 1);
            color: $white;
            &:hover {
              color: $white;
              text-decoration: underline;
            }
          }
          &:first-child {
            a {
              padding-left: 0;
            }
          }
        }
      }

      &--secondary {
        margin-top: auto;
        @include media-breakpoint-down(md) {
          display: none;
        }
        @include media-breakpoint-up(lg) {
          display: flex;
        }
        a {
          padding-bottom: 0;
        }
      }
    }
    .navbar-toggler {
      position: absolute;
      top: map-get($spacers, 2);
      right: map-get($spacers, 3);
      &:focus {
        outline: none;
      }
    }
  }
}
