.page-wrapper {
  @include make-container();
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $theme-box-shadow-sm;

  &__header {
    @include theme-page-header-spacing();
  }

  &__title {
    @include theme-page-title-text();
  }

  &__deck {
    @include theme-page-deck-text();
  }

  &__description {
    @include theme-page-description-text();
  }

  &__contents {
    @include content-body();
    @include theme-page-body-spacing();
  }

  &__body {
    @include theme-page-body-spacing();
  }
}
