.page-wrapper {
  @include make-container();
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $theme-box-shadow-sm;

  &__header {
    padding: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 2);
    @include media-breakpoint-down(sm) {
      padding: 0;
    }
  }

  &__contents {
    @include content-body();
    padding-right: map-get($spacers, 3);
    padding-left: map-get($spacers, 3);
    margin-bottom: map-get($spacers, block);
    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
