.site-footer {
  @extend .navbar-dark;
  padding-top: map-get($spacers, 4);
  padding-bottom: map-get($spacers, 4);
  margin-top: auto;
  font-family: $theme-content-sans-serif-font;
  background-color: $primary;
  box-shadow: $box-shadow;
  opacity: .98;

  &__container {
    @include make-container();
    text-align: center;
  }

  &__brand {
    display: inline-block;
    img {
      height: 80px;
      filter: brightness(0) invert(1);
      transition: filter ease 250ms;
    }
    &:hover img {
      filter: initial;
    }
  }

  &__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: map-get($spacers, 3);
  }

  &__social-icon {
    margin: 0 map-get($spacers, 3);
    svg {
      width: 40px;
      border-radius: $border-radius;
      transition: fill ease 250ms, background-color ease 250ms;
      fill: $white;
    }
    &--facebook {
      &:hover svg {
        background-color: $white;
        fill: map-get($brand-colors, facebook);
      }
    }
    &--linkedin {
      &:hover svg {
        background-color: $white;
        fill: map-get($brand-colors, linkedin);
      }
    }
    &--twitter {
      &:hover svg {
        fill: map-get($brand-colors, twitter);
      }
    }
  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: map-get($spacers, 3);
  }

  &__link {
    margin: 0 map-get($spacers, 3);
    a {
      padding: 0;
    }
  }

  &__copyright {
    margin-top: map-get($spacers, 3);
    font-size: $font-size-sm;
    color: $light;
    opacity: .5;
  }
}
