import { getAsArray } from '@base-cms/object-path';
import imageFormat from './image-format';

$ const imageOptions = {
  fit: 'crop',
  crop: 'focalpoint',
  fpX: 0.5,
  fpY: 0.5,
  w: 1200,
  h: 515,
};
$ const images = getAsArray(input, 'images').map(node => imageFormat(node, imageOptions));

<if(images.length)>
  <div class="row">
    <div class="col">
      <cms-browser-component name="ImageSlider" props={ images } />
    </div>
  </div>
</if>
