import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(input, 'content');
$ const primarySection = getAsObject(content, 'primarySection');

<endeavor-item>
  <@title tag="h5">
    <cms-content-short-name tag=null obj=content link=true />
  </@title>
  <@footer-left|{ block }|>
    <cms-website-section-name tag="span" block=block obj=primarySection link=true />
  </@footer-left>
</endeavor-item>
