import { getAsObject } from '@base-cms/object-path';

$ const content = getAsObject(input, 'content');

<h3>Request More Information</h3>
<hr id="inquiry-form">
<p>Fill out the form below to request more information about <cms-content-name tag=null obj=content link=false /></p>
<cms-browser-component name="InquiryForm" props={ contentId: content.id } />
