import { getAsArray } from '@base-cms/object-path';
import imageFormat from './image-format';

$ const galleries = getAsArray(input, 'galleries');

<if(galleries.length)>
  <for|gallery| of=galleries>
    <h4 class="top-list__title">${gallery.shortName}</h4>
    $ const images = getAsArray(gallery, 'images.edges').map(({ node }) => imageFormat(node, { w: 680, h: 380 }));
    <bizbash-image-list link=gallery.canonicalPath images=images />
  </for>
</if>
