import { getAsObject } from '@base-cms/object-path';
import contentListFragment from '@endeavorb2b/base-website-common/api/fragments/content-list';

$ const { site } = out.global;
$ const section = getAsObject(data, 'section');
$ const query = {
  sectionAlias: section.alias,
  limit: 100,
  queryFragment: contentListFragment,
};

<theme-pennwell-website-section-layout section=section>
  <@head>
    <cms-ad-gam-head />
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-out-of-page name="wa" />
    <endeavor-gam-ad-unit-out-of-page name="reskin" />
    <endeavor-gam-ad-unit-define-display name="lb1" modifiers=["top-of-page"] />
  </@above-container>

  <div class="page-wrapper">
    <div class="row">
      <div class="col">
        <div class="page-wrapper__header">
          <endeavor-breadcrumbs-editorial-advisory-board />
          <div class="page-wrapper__title">
            ${section.name}
          </div>
        </div>
        <div class="page-wrapper__body">
          <div class="row">
            <div class="col-lg-8">
          <cms-query-website-scheduled-content|{ nodes }| ...query>
            <endeavor-item-list flush=true card=false items=nodes>
              <@item|{ item }|>
                <endeavor-content-block-item
                  content=item
                  flush=true
                  image-position="left"
                  image-options={ w: 240 }
                  image-width=150
                  image-use-placeholder=false
                />
              </@item>
            </endeavor-item-list>
          </cms-query-website-scheduled-content>
            </div>
            <div class="col-lg-4">
              <cms-browser-component name="ContactUsForm" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</theme-pennwell-website-section-layout>
