import { get, getAsObject } from '@base-cms/object-path';

<theme-pennwell-magazine-subscribe-layout>
  <@head>
    <cms-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-define-display name="lb1" modifiers=["top-of-page"] />
  </@above-container>

  <endeavor-subscribe-email />

</theme-pennwell-magazine-subscribe-layout>
