$ const { config } = out.global;
$ const title = `Search ${config.get('siteName')}`;

<document>
  <@head>
    <cms-page-title value=title />
    <cms-page-description content=title />
    <${input.head} />
  </@head>
  <div class="container-fluid-max">
    <${input.renderBody} />
  </div>
</document>
