.page-body-image {
  margin-bottom: $theme-primary-media-margin-bottom;
  &__caption {
    @include theme-media-caption();
  }

  &__credit {
    @include theme-media-credit();
  }

  &__wrapper {
    @include border-radius($theme-primary-media-border-radius);
    @include box-shadow($theme-primary-media-box-shadow);
    img {
      @include border-radius($theme-primary-media-border-radius);
      width: 100%;
      height: auto;
    }
  }
}
