$primary: #164f77 !default;
$secondary: #495057; // equivalent to default gray-700
$tertiary: rgba(255, 255, 255, 0.75);
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-secondary-bg-color: #002e4f;
$theme-site-navbar-primary-bg-color: $primary;

$theme-site-navbar-tertiary-link-active-color:  $tertiary;
$theme-site-navbar-tertiary-link-color:         $tertiary;
$theme-site-navbar-tertiary-link-hover-color:   #fff;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: (
  hide-primary: 832px,
  hide-secondary: 906px,
  small-logo: 1015px,
  small-text-primary: 932px,
  small-text-secondary: 1105px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
