$ const { site } = out.global;

<theme-pennwell-magazine-layout>
  <@head>
    <cms-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-define-display name="BS" modifiers=["top-of-page"] />
  </@above-container>

  <endeavor-magazine-block-breadcrumbs />

  <p class="lead">${site.get('magazines.description')}</p>

  <@below-container>
    <theme-pennwell-magazine-publication-list />
  </@below-container>

</theme-pennwell-magazine-layout>
