$ const { nodes, aliases } = input;

<endeavor-item-card-deck|{ item }| items=nodes>
  <bizbash-card-item content=item />
</endeavor-item-card-deck>
<hr>
<endeavor-gam-ad-unit-define-display
  name="lb1"
  aliases=aliases
/>
<hr>
