$ const { nodes, aliases } = input;

<endeavor-item-list items=nodes>
  <@item|{ item }|>
    <bizbash-list-item-large content=item />
  </@item>
</endeavor-item-list>
<hr>
<endeavor-gam-ad-unit-define-display
  name="lb1"
  aliases=aliases
/>
<hr>
