$primary: #d71920 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-logo-height: 40px;
$theme-site-navbar-logo-height-sm: 30px;

$theme-site-header-breakpoints: (
  hide-primary: 500px,
  hide-secondary: 544px,
  small-logo: 635px,
  small-text-primary: 530px,
  small-text-secondary: 580px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
