@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,600,600i|Source+Serif+Pro:400,600&display=swap");

$primary: #1c496d;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef; // equivalent to default gray-200
$dark: #212529; // equivalent to default gray-900
$info: #6c757d; // equivalent to default gray-600

$theme-font-family-sans-serif: "IBM Plex Sans", sans-serif;
$theme-font-family-serif: "Source Serif Pro", serif;
$theme-font-family-page-title: $theme-font-family-sans-serif;

$enable-rounded: false;

$theme-site-header-breakpoints: (
  hide-primary: 10000px,
  hide-secondary: 610px,
  hide-tertiary: 0,
  small-logo: 667px,
  small-text-primary: 10000px,
  small-text-secondary: 740px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";

.item-list {
  $self: &;
  // @todo Add to core
  min-height: auto;
  &__contents {
    flex-grow: 1;
    justify-content: space-between;
  }
  &--height-100 {
    // @todo Add to core
    min-height: 100%;
  }
  &--unjustified {
    #{ $self } {
      &__contents {
        flex-grow: 0;
        justify-content: normal;
      }
    }
  }
}
