<theme-pennwell-magazine-layout>
  <@head>
    <cms-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-define-display name="LB1" modifiers=["top-of-page"] />
  </@above-container>

  <endeavor-magazine-nav />

  <p class="lead">_MAGAZINE_DESCRIPTION_</p>

  <theme-pennwell-magazine-publication-list />

</theme-pennwell-magazine-layout>
