$primary: #000 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-background-color: lighten($theme-site-navbar-primary-bg-color, 80%);
$theme-site-navbar-secondary-type: light;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: (
  hide-primary: 776px,
  hide-secondary: 1075px,
  small-logo: 926px,
  small-text-primary: 864px,
  small-text-secondary: 996px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
