import itemInput from '../..//card-item-input';

$ const { nodes, aliases } = input;

<endeavor-item-card-deck|{ item }| items=nodes>
  <endeavor-content-block-item ...itemInput content=item />
</endeavor-item-card-deck>
