$primary: #2aafdf !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-primary-bg-color: #2aafdf;
$theme-site-navbar-secondary-bg-color: #fff;
$theme-site-navbar-secondary-type: light;

$theme-site-navbar-logo-height: 50px;

$theme-site-header-breakpoints: (
  hide-primary: 620px,
  hide-secondary: 730px,
  small-logo: 832px,
  small-text-primary: 688px,
  small-text-secondary: 900px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
