.magazine-current-issue {
  &__horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  &__horizontal > a > img {
    margin-top: auto;
    margin-right: $list-group-item-padding-y;
    margin-bottom: auto;
    margin-left: -#{$list-group-item-padding-x - $list-group-item-padding-y};
  }
  &__vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__vertical > a > img {
    width: calc(100% + 1rem);
    margin-right: -#{$list-group-item-padding-x - $list-group-item-padding-y};
    margin-bottom: $list-group-item-padding-y;
    margin-left: -#{$list-group-item-padding-x - $list-group-item-padding-y};
  }
}
