.magazine-issue-card {
  text-align: center;
  @include media-breakpoint-up(xl) {
    text-align: left;
  }
  & > .item {
    display: inline;
    @include media-breakpoint-up(xl) {
      display: flex;
    }
  }
  & .item {
    &__contents {
      display: inline;
      @include media-breakpoint-up(xl) {
        display: flex;
      }
    }
    &__title,
    &__description {
      display: none;
      margin-bottom: map-get($spacers, block);
      @include media-breakpoint-up(xl) {
        display: inline;
      }
    }
    &__footer {
      display: inline;
      @include media-breakpoint-up(xl) {
        display: flex;
      }
    }
    &__title {
      font-size: 1.5rem;
    }
    &__magazine-publication-link,
    &__magazine-issue-link {
      @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
      @include button-variant($primary, $primary);
    }
  }
}
