@mixin theme-card() {
  @include border-radius($theme-card-border-radius);
  @include box-shadow($theme-card-box-shadow);
  background-color: $theme-card-background-color;
  border: $theme-card-border;
}

@mixin theme-card-header() {
  font-family: $theme-card-header-font-family;
  color: $theme-card-header-color;
  text-transform: $theme-card-header-text-transform;
  letter-spacing: $theme-card-header-letter-spacing;
  background-color: $theme-card-header-background-color;
  border-bottom: $theme-card-header-border;
}

@mixin theme-card-header-link() {
  color: $theme-card-header-link-color;
  text-decoration: $theme-card-header-link-decoration;
  &:hover {
    color: $theme-card-header-link-hover-color;
    text-decoration: $theme-card-header-link-hover-decoration;
  }
}

@mixin theme-embed-responsive($ratio-x, $ratio-y) {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    @if $ratio-y and $ratio-x {
      padding-top: percentage($ratio-y / $ratio-x);
    }
  }
}

@mixin theme-embed-responsive-item() {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@mixin theme-heading($size) {
  font-family: $theme-heading-font-family;
  font-weight: $theme-heading-font-weight;

  @if $size == h1 {
    font-size: $theme-heading-h1-font-size;
    line-height: $theme-heading-h1-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-h1-font-size-sm;
      line-height: $theme-heading-h1-line-height-sm;
    }
  } @else if $size == h2 {
    font-size: $theme-heading-h2-font-size;
    line-height: $theme-heading-h2-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-h2-font-size-sm;
      line-height: $theme-heading-h2-line-height-sm;
    }
  } @else if $size == h3 {
    font-size: $theme-heading-h3-font-size;
    line-height: $theme-heading-h3-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-h3-font-size-sm;
      line-height: $theme-heading-h3-line-height-sm;
    }
  } @else if $size == h4 {
    font-size: $theme-heading-h4-font-size;
    line-height: $theme-heading-h4-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-h4-font-size-sm;
      line-height: $theme-heading-h4-line-height-sm;
    }
  } @else if $size == h5 {
    font-size: $theme-heading-h5-font-size;
    line-height: $theme-heading-h5-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-h5-font-size-sm;
      line-height: $theme-heading-h5-line-height-sm;
    }
  } @else if $size == list {
    font-size: $theme-heading-list-font-size;
    line-height: $theme-heading-list-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-list-font-size-sm;
      line-height: $theme-heading-list-line-height-sm;
    }
  } @else {
    font-size: $theme-heading-small-font-size;
    line-height: $theme-heading-small-line-height;
    @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
      font-size: $theme-heading-small-font-size-sm;
      line-height: $theme-heading-small-line-height-sm;
    }
  }
}

@mixin theme-max-lines($line-height, $line-height-sm, $num: 2, $text-overflow: ellipsis) {
  display: block;
  max-height: $line-height * $num;
  overflow: hidden;
  text-overflow: $text-overflow;
  @include media-breakpoint-down($theme-responsive-text-max-lines-breakpoint) {
    max-height: $line-height-sm * $num;
  }
}

@mixin theme-navbar-type($type) {
  @if $type == dark {
    @extend .navbar-dark;
  } @else {
    @extend .navbar-light;
  }
}

@mixin theme-page-body-spacing() {
  padding-right: $theme-page-body-padding;
  padding-left: $theme-page-body-padding;
  margin-bottom: $theme-page-body-margin-bottom;
  @include media-breakpoint-down(sm) {
    padding-right: $theme-page-body-padding-sm;
    padding-left: $theme-page-body-padding-sm;
    margin-bottom: $theme-page-body-margin-bottom-sm;
  }
}

@mixin theme-page-header-spacing() {
  padding: $theme-page-header-padding;
  @include media-breakpoint-down(sm) {
    padding-top: $theme-page-header-padding-sm;
    padding-right: $theme-page-header-padding-sm;
    padding-left: $theme-page-header-padding-sm;
  }
}

@mixin theme-text-description() {
  font-family: $theme-text-description-font-family;
  font-size: $theme-text-description-font-size;
  font-style: $theme-text-description-font-style;
  line-height: $theme-text-description-line-height;
  @include media-breakpoint-down($theme-responsive-text-breakpoint) {
    font-size: $theme-text-description-font-size-sm;
    line-height: $theme-text-description-line-height-sm;
  }
}

@mixin theme-text-page-title() {
  font-family: $theme-font-family-page-title;
  font-size: $theme-text-page-title-font-size;
  font-weight: $theme-text-page-title-font-weight;
  line-height: $theme-text-page-title-line-height;
  @include media-breakpoint-down($theme-responsive-text-breakpoint) {
    font-size: $theme-text-page-title-font-size-sm;
    line-height: $theme-text-page-title-line-height-sm;
  }
}

@mixin theme-text-small() {
  font-family: $theme-text-small-font-family;
  font-size: $theme-text-small-font-size;
  line-height: $theme-text-small-line-height;
}
