.content-attribution {
  font-family: $theme-content-sans-serif-font;
  &__prefix {
    margin-right: map-get($spacers, 1);
    font-weight: 600;
    &::after {
      margin-left: map-get($spacers, 1);
      font-weight: 400;
      content: "\2014";
    }
  }
  &__content-name {
    margin-right: map-get($spacers, 2);
    &::after {
      display: inline-block;
      content: ", ";
    }
    &:last-child::after {
      content: "";
    }
  }
  div:last-child {
    margin-bottom: map-get($spacers, 2);
  }
}
