.content-image-list {
  margin-bottom: map-get($spacers, block);
  .title {
    @include theme-media-title();
  }
  .caption {
    @include theme-media-caption();
  }
  .credit {
    @include theme-media-credit();
  }

  &__item {
    padding-bottom: $theme-item-padding;
    margin-bottom: $theme-item-padding;
    border-bottom: $list-group-border-width solid $list-group-border-color;
    &:last-child {
      border-bottom: none;
    }
  }

  &__image {
    @include theme-embed-responsive(16, 9);
    @include border-radius($border-radius);
    @include box-shadow($theme-box-shadow-lg);
    img {
      @include theme-embed-responsive-item();
      @include border-radius($border-radius);
    }
  }
}
