.content-page-header {
  padding: map-get($spacers, 3);
  margin-bottom: map-get($spacers, 2);
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
  &__content-name {
    font-family: $theme-content-title-font;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    @include media-breakpoint-down(sm) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__content-teaser {
    font-family: $theme-content-sans-serif-font;
    font-size: 24px;
    line-height: 34px;
    color: $gray;
    letter-spacing: normal;
    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 30px;
    }
  }
  &__content-published {
    font-family: $theme-content-sans-serif-font;
  }
}
