.content-page-title {
  margin-bottom: map-get($spacers, block);
  @include theme-card();

  &__header {
    @include theme-card-header();
    @include theme-heading(h6);
  }

  .card-body {
    @include theme-item();
  }

  .content-element-group {
    &__content-short-name {
      @include media-breakpoint-down(lg) {
        min-height: initial;
      }
      a {
        @include media-breakpoint-down(lg) {
          min-height: initial;
        }
      }
    }
  }
}
