.content-page-body {
  &__primary-media {
    margin-bottom: map-get($spacers, block);
  }
  &__primary-video {
    @include theme-embed-responsive(16, 9);

    iframe,
    embed,
    object,
    video {
      @include theme-embed-responsive-item();
    }
  }

  &__primary-image {
    @include theme-embed-responsive(16, 9);
    border-radius: $border-radius;
    box-shadow: $theme-box-shadow-lg;
    img {
      @include theme-embed-responsive-item();
      border-radius: $border-radius;
    }
  }
}
