.content-primary-media {
  margin-bottom: map-get($spacers, block);
  .caption {
    @include theme-media-caption();
  }
  .credit {
    @include theme-media-credit();
  }

  &__video {
    @include theme-embed-responsive(16, 9);

    iframe,
    embed,
    object,
    video {
      @include theme-embed-responsive-item();
    }
  }

  &__image {
    @include theme-embed-responsive(16, 9);
    border-radius: $border-radius;
    box-shadow: $theme-box-shadow-lg;
    img {
      @include theme-embed-responsive-item();
      border-radius: $border-radius;
    }
  }
}
