.ad-container {
  text-align: center;
  &--top-of-page {
    margin-bottom: $theme-ad-margin;
  }
  &--content-page-right {
    margin-bottom: $theme-ad-margin;
  }
  &--inline {
    margin-bottom: $theme-ad-margin;
  }
  &--in-card {
    display: flex;
    justify-content: center;
    min-height: 100%;
    > div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  iframe {
    box-shadow: $theme-ad-box-shadow;
  }
}

.ad-rail {
  padding-top: $theme-ad-padding;
  padding-bottom: $theme-ad-padding;

  .ad-container {
    margin-bottom: $theme-ad-margin;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Hide Google search promotions/ads.
.gsc-adBlock { /* stylelint-disable-line */
  display: none;
}

.reveal-ad-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.reveal-ad {
  position: relative;
  width: 300px;
  margin: 0 auto $theme-ad-margin;
  &--light-shadow {
    @include box-shadow($theme-ad-reveal-box-shadow-light);
  }
  &--dark-shadow {
    @include box-shadow($theme-ad-reveal-box-shadow-dark);
  }
}
