.item {
  $self: &;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $theme-item-padding;

  &__contents {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    padding-right: $theme-item-contents-padding;
    padding-left: $theme-item-contents-padding;
  }

  &__header {
    // @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $theme-item-header-margin;
    color: $theme-item-header-color;
    letter-spacing: $theme-item-header-letter-spacing;
    a {
      color: $theme-item-header-link-color;
      &:hover {
        color: $theme-item-header-link-hover-color;
        text-decoration: $theme-item-header-link-text-decoration;
      }
    }
    &:empty {
      display: none;
    }
  }

  &__header-left {
    &:empty {
      display: none;
    }
  }

  &__header-right {
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  &__title {
    // @include theme-heading(list);
    margin-bottom: $theme-item-title-margin;
    color: $theme-item-title-color;
    &:empty {
      display: none;
    }

    a {
      // @include theme-max-lines($line-height: 22px, $line-height-sm: 20px, $num: 3);
      color: $theme-item-title-link-color;
      &:hover {
        color: $theme-item-title-link-hover-color;
        text-decoration: $theme-item-title-link-text-decoration;
      }
    }

    &--large {
      // @include theme-heading(h5);

      // a {
      //   // @include theme-max-lines($line-height: 30px, $line-height-sm: 26px);
      //   color: $black;
      // }
    }

    &--locked {
      a::before {
        content: $theme-item-title-locked-content;
      }
    }
  }

  &__description {
    // @include theme-description-text();
    margin-bottom: $theme-item-description-margin;
    color: $theme-item-description-color;
    &:empty {
      display: none;
    }

    a {
      // @include theme-max-lines($line-height: 25px, $line-height-sm: 23px);
      color: $theme-item-description-link-color;
      &:hover {
        color: $theme-item-description-link-hover-color;
        text-decoration: $theme-item-description-link-text-decoration;
      }
    }
  }

  &__footer {
    // @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
    color: $theme-item-footer-color;
    &:empty {
      display: none;
    }
  }

  &__footer-left {
    margin-top: auto;
    &:empty {
      display: none;
    }
  }

  &__footer-right {
    margin-top: auto;
    white-space: nowrap;
    &:empty {
      display: none;
    }
  }

  &__asset-image {
    @include border-radius($theme-item-image-border-radius);
    max-width: 100%; // @todo fix this
    height: auto; // @todo fix this
  }
}
