.item {
  $self: &;

  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  width: 100%;
  padding: $theme-item-padding;

  &__contents {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
    padding-right: $theme-item-contents-padding;
    padding-left: $theme-item-contents-padding;
  }

  &__header {
    // @include theme-small-text();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $theme-item-header-margin;
    color: $theme-item-header-color;
    letter-spacing: $theme-item-header-letter-spacing;
    a {
      color: $theme-item-header-link-color;
      text-decoration: $theme-item-header-link-text-decoration;
      &:hover {
        color: $theme-item-header-link-hover-color;
      }
    }
    &:empty {
      display: none;
    }
  }
}
