.bing-search {
  &__form {
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
  }
  &__input {
    width: 80%;
    font-family: $theme-font-family-sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #666;
    border: none;
    &::placeholder {
      color: #666;
    }
    border-radius: initial;
  }
  &__button {
    width: 20%;
    padding: 0;
    margin-left: .5rem;
    font-family: $theme-font-family-sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    border-radius: initial;
    .icon {
      svg {
        fill: #fff;
      }
    }
  }
}
