$primary: #c60000 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-logo-height: 40px;

$theme-site-header-breakpoints: (
  hide-primary: 708px,
  hide-secondary: 796px,
  small-logo: 930px,
  small-text-primary: 800px,
  small-text-secondary: 1005px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
