@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,600|Cardo|Lora:400,400i,700,700i");
@import "variables";
@import "bootstrap";
@import "post-variables";
@import "components";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.container-fluid-max {
  @include make-container();
  @include media-breakpoint-up("xl", $grid-breakpoints) {
    max-width: map-get($grid-breakpoints, "xl");
  }
  flex-shrink: 0;
  padding-top: 90px;
  margin-top: map-get($spacers, 4);
  @media (max-width: map-get($theme-site-nav-primary-breakpoints, small-text)) {
    padding-top: 85px;
  }
  @media (max-width: map-get($theme-site-nav-primary-breakpoints, hide)) {
    padding-top: 54px;
  }
}
