@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,600|Cardo|Lora:400,400i,700,700i");

$theme-content-title-font: "Cardo", "Georgia", "Cambria", "Times New Roman", "Times", serif !default;
$theme-content-serif-font: "Lora", serif !default;
$theme-content-sans-serif-font: "Fira Sans", sans-serif !default;

$theme-box-shadow-sm: 0 1px 7px rgba(0, 0, 0, .05) !default;
$theme-box-shadow-lg: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;

$black: rgba(0, 0, 0, .84) !default;
$gray: rgba(0, 0, 0, .54) !default;
$body-color: $black !default;
$body-bg: #f5f5f5 !default;
$font-family-sans-serif: $theme-content-sans-serif-font !default;
$font-weight-bold: 600 !default;
$border-radius: .5rem !default;

$theme-ads-box-shadow: 0 .125rem .25rem rgba($black, .075) !default;

$theme-card-box-shadow: $theme-box-shadow-sm !default;
$theme-card-border-radius: $border-radius !default;
$block-spacer: 1.5rem !default;

$spacers: (
  block: $block-spacer
) !default;

@import "bootstrap";

$theme-site-nav-primary-bg-color: $primary !default;
$theme-site-nav-secondary-bg-color: $primary !default;

@import "components";
@import "../../node_modules/@endeavorb2b/base-website-common/styles/embedded-media";
@import "../../node_modules/@endeavorb2b/base-website-common/components/navbars/site-a";

.container-fluid-max {
  @include make-container();
  @include media-breakpoint-up("xl", $grid-breakpoints) {
    max-width: map-get($grid-breakpoints, "xl");
  }
  padding-top: map-get($spacers, block);
}

.load-more-header {
  @include theme-heading(h4);
  margin-bottom: map-get($spacers, 3);
  font-family: $theme-content-sans-serif-font;
  text-align: center;
  text-transform: uppercase;
}

img {
  // stylelint-disable-next-line selector-no-qualifying-type
  &.lazyload:not([src]) {
    visibility: hidden;
  }
  // stylelint-disable-next-line selector-no-qualifying-type
  &.lazyloaded {
    opacity: 1;
    transition: opacity 250ms;
  }
}

.lazyloading {
  opacity: 0;
}
