@import "../../node_modules/bootstrap/scss/carousel";

.carousel {
  margin-bottom: $breadcrumb-padding-y;

  .carousel-item {
    img {
      display: block;
      width: 100%;
    }
  }

  .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    padding-bottom: $theme-carousel-caption-padding;
    text-shadow: $theme-carousel-caption-text-shadow;
    background: $theme-carousel-caption-background;
    p {
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }

  .carousel-indicators {
    margin-bottom: 0;
  }
}

// Carousel Overrides

.carousel-control-next,
.carousel-control-prev {
  top: initial;
  bottom: 8px;
  z-index: 16;
  justify-content: space-around;
  opacity: initial;
}
