.top-list {
  &__title {
    @include theme-apply-fonts(
      $font-family: $theme-content-heading-h5-font-family,
      $font-size-sm: $theme-content-heading-h5-font-size-sm,
      $font-size: $theme-content-heading-h5-font-size,
      $font-weight: $theme-content-heading-h5-font-weight,
      $line-height-sm: $theme-content-heading-h5-line-height-sm,
      $line-height: $theme-content-heading-h5-line-height
    );
    @include media-breakpoint-down($theme-responsive-text-breakpoint) {
      padding-right: $theme-page-body-padding-sm;
      padding-left: $theme-page-body-padding-sm;
    }
    padding-right: $theme-page-body-padding;
    padding-left: $theme-page-body-padding;
    margin-bottom: 1rem;

    a {
      color: $black;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: map-get($spacers, block);
  }
  &__col {
    $spacing: $grid-gutter-width / 4;
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
    @include media-breakpoint-down(xs) {
      padding-right: 0;
      padding-left: 0;
    }
    padding-right: $spacing;
    padding-left: $spacing;
    margin-bottom: $spacing * 2;
  }
  &__link {
    position: relative;
    display: block;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__overlay {
    &:empty {
      display: none;
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 1rem;
    text-align: center;
    background: rgba(0, 0, 0, .5);
  }
  &__name {
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    text-shadow: 1px 1px 4px $black;
  }
}
