import { pageDetails } from '@endeavorb2b/base-website-common/utils/published-content';

$ const { config } = out.global;
$ const query = { contentTypes: ['Video'], limit: 10 };
$ const page = pageDetails('Videos', config);

<theme-pennwell-published-content-layout page=page>
  <@head>
    <cms-ad-gam-head />
  </@head>

  <@above-container>
    <endeavor-gam-ad-unit-define-display name="lb1" modifiers=["top-of-page"] />
  </@above-container>

  <endeavor-content-block-page-title header=page.title body=page.description />

  <@below-container>
    <div class="published-content-query-load-more">
      <theme-pennwell-published-content-query-load-more
        query=query
      />
    </div>
  </@below-container>

</theme-pennwell-published-content-layout>
