$primary: #002645 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-header-breakpoints: (
  hide-primary: 710px,
  hide-secondary: 939px,
  small-logo: 1016px,
  small-text-primary: 825px,
  small-text-secondary: 1123px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
