$primary: #212529 !default;
$secondary: #495057; // equivalent to default gray-700
$tertiary: rgba(255, 255, 255, .75);
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600


$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-menu-hover-color: lighten($theme-site-navbar-primary-bg-color, 80%);
$theme-site-navbar-secondary-bg-color: #343a40;

$theme-site-navbar-tertiary-link-active-color:  $tertiary;
$theme-site-navbar-tertiary-link-color:         $tertiary;
$theme-site-navbar-tertiary-link-hover-color:   #fff;

$theme-site-header-breakpoints: (
  hide-primary: 928px,
  hide-secondary: 780px,
  small-logo: 856px,
  small-text-primary: 1049px,
  small-text-secondary: 935px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
