$primary: #494232 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-header-breakpoints: (
  hide-primary: 1024px,
  hide-secondary: 507px,
  small-logo: 618px,
  small-text-primary: 1162px,
  small-text-secondary: 554px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
