$site-font-family-sans-serif: "Lato", sans-serif !default;
$site-font-family-serif: "PT Serif", serif !default;

@import "embedded-media";
@import "bootstrap";

.element-row {
  display: flex;
  justify-content: space-between;
}

.navbar {
  &--site {
    @extend .sticky-top;
    background-color: $gray-900;
    border-bottom: 3px solid $yellow;
    box-shadow: $box-shadow;
    .navbar-brand img {
      height: 50px;
    }
    .nav-item {
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

.navbar-nav {
  &--primary {
    margin-top: map-get($spacers, 2);
    .nav-item {
      font-size: $font-size-base;
    }
  }
}
