$primary: #285923 !default;
$secondary: #495057; // equivalent to default gray-700
$light: #e9ecef !default; // equivalent to default gray-200
$dark: #212529 !default; // equivalent to default gray-900
$info: #6c757d !default; // equivalent to default gray-600

$theme-site-navbar-primary-bg-color: #5d8259;
$theme-site-navbar-secondary-bg-color: #285923;

$theme-site-header-breakpoints: (
  hide-primary: 548px,
  hide-secondary: 675px,
  small-logo: 725px,
  small-text-primary: 630px,
  small-text-secondary: 800px
);

@import "../../node_modules/@endeavorb2b/base-website-themes/orion/styles/theme";
